@media screen and (min-width: 0px) and (max-width: 725px) {
    
    .log_body__illustration {
        display: none;
    }
        
    .log_body {
        justify-content: center;
    }

    .index_acteurs__liste__elem__informations {
        flex-direction: column;
        & img {margin: 0px;}
    }

    .acteur_presentation__logo {
        width: 100%;
    }

    .body_redirection {
        background-image: none;
    }
    .log_form {
        margin: 0px;
    }
}