@media screen and (min-width: 0px) and (max-width: 725px) {
    
    .log_body__illustration {
        display: none;
    }

    .index_acteurs__liste__elem__informations {
        flex-direction: column;
        & img {margin: 0px;}
    }

    .acteur_presentation__logo {
        width: 100%;
    }

    .body_redirection {
        background-image: none;
    }
    .log_body {
        justify-content: center;
        width: 100%;
        justify-self: center;
        overflow: none;
    }

    form {
        width: 100%
    }
    .log_form {
        width: 100%;
        // justify-self: center;
        align-items: center;
        margin: 0;
        padding: 0;
        & div {
            margin-left: 0px;
            width: 80%;
        }
    }
    .body_compte {
        background: none;
    }
}