@media screen and (min-width: 0px) and (max-width: 725px) {
    
    .header {
        width: 90% auto;
        &__logo_gbaf {
            margin-left: auto;
        }
    }

    .log_body__illustration {
        display: none;
    }
    .index_acteurs__liste__elem {
        margin: 10px;
        &__informations {
            flex-direction: column;
            & img {margin: 0px;}
        }
    }

    .acteur_presentation__logo {
        width: 100%;
    }

    .body_redirection {
        background-image: none;
    }
    .log_body {
        justify-content: center;
        width: 100%;
        justify-self: center;
        overflow: none;
    }

    form {
        width: 100%
    }
    .log_form {
        width: 100%;
        // justify-self: center;
        align-items: center;
        margin: 0;
        padding: 0;
        & div {
            margin-left: 0px;
            width: 80%;
        }
    }
    .body_compte {
        background: none;
    }
    .body_acteur {
        margin: 0px auto;
    }
    .acteur_presentation {
        padding: 2%;
    }
    .acteur_commentaires {
        padding: 0px;
        align-items: center;
        justify-self: center;
        &__header {
            flex-direction: column;
            align-items: center;
            &__vote {
                justify-content: center;
                margin: 0px 10% 0px 10%;
            }
        }
    }

    .submit_com {
        align-items: center;
        &__area {
            width: 90%
        }
        &__submit {margin-bottom: 20px;}
    }
}