@media screen and (min-width: 725px) and (max-width: 1366px) {
  .log_body__illustration__isometric2 {
    display: none;
  }
}

@media screen and (min-width: 250px) and (max-width: 725px) {
  .log_body__illustration {
    display: none;
  }
  .log_body {
    justify-content: center;
  }
  .index_acteurs__liste__elem__informations {
    flex-direction: column;
  }
  .index_acteurs__liste__elem__informations img {
    margin: 0px;
  }
}
