@font-face {
    font-family: Poppins;
    src: url('../media/fonts/Poppins-Light.ttf');
}

// COMMON

$txt_color : rgb(44, 44, 44);

body {
    margin: 0;
    font-family: Poppins;
    max-width: 1920px;
    margin: auto;
}

// INCLUDES 

.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    &__logo_gbaf {
        margin: 17px 0px 0px 50px;
    }
    &__compte {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-right: 20px;
        & * {
            padding: 3px;
        }
        &__btn_logout {
            margin-left: 10px;
            width: 25px;
            height: 25px;
            background-image: url('../media/logout.png');
            background-position: center;
            background-size: contain;
        }
    }
 }

footer {
    width: 100%;
    height : 100px;
    background: $txt_color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & p {
        margin: 0px 10px 0px 10px;
        color: rgb(223, 223, 223);
    }
    & a {
        text-decoration: none;
    }
}

// INDEX.PHP

.index_presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 4% 2% 4%;
    text-align: center;
    font-size: 12px;
    color: $txt_color;
    &__txt {   
        font-size: large;
        align-self: center;
        & p {
        margin: 50px 0px 50px 0px;
        width: auto;
        font-size: 16px;
        }
    }
}

.index_acteurs {
    &__txt {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &__btn {
            width: 35px;
            background: red;
            border-radius: 50px;
        }
    }
    &__liste {
        padding: 0px;
        &__elem {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: -7px 7px 25px 0px rgba(128, 128, 128, 0.418);
            height: auto;
            margin: 50px;
            &__informations {
                width: 95%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                & img {
                    margin-right: 60px;
                    align-self: center;
                    justify-self: center;
                    width: 200px;
                    height: auto;
                }
            }
            &__btn_suite {
                align-self: flex-end;
                margin-bottom: 25px;
                margin-right: 30px;
                text-decoration: none;
                color: white;
                padding: 10px 20px 10px 20px;
                background: red;
                border-radius: 20px;
            }
        }
    }
}

// ACTEUR.PHP

.acteur_presentation {
    display: flex;
    flex-direction: column;
    padding: 100px;
    &__logo {
        align-self: center;
        margin-bottom: 50px;
    }
}

.acteur_commentaires {
    padding: 0px 100px 100px 100px;
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            &__vote {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 25px;
                & * {margin: 5px;}
            }
            &__like {
                background: url('../media/like.png');
                background-repeat: no-repeat;
                background-position: 50%;
                padding: 25px;
                cursor: pointer;
                border: none;
            }
            &__dislike {
                background: url('../media/dislike.png');
                background-repeat: no-repeat;
                background-position: 50%;
                padding: 25px;
                cursor: pointer;
                border: none;
                margin-left: 10px;
            }
    }
    &__commentaires {
        background: rgba(221, 221, 221, 0.575);
        border-radius: 5px;
        padding: 20px;
        font-size: 18px;
        color: $txt_color;
        
    }
    &__nom {
        font-weight: 600;
        font-size: 25px;
    }
    &__post {
            font-size: 16px;
        }
    &__btn_com {
        border-radius: 5px;
        width: 200px;
        height: 50px;
        background: #ff2c2c;
        font-size: 15px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        justify-self: flex-end;
    }
}

.submit_com {
    display: flex;
    flex-direction: column;
    &__area {
        border: none;
        background:rgba(221, 221, 221, 0.575);
        font-family: Poppins;
        font-size: 16px;
        width: 100%;
        height: 200px;
        padding: 20px;
        &:focus {
            outline: none;
        }
    }
    &__submit {
        margin-top: 20px;
        width: 200px;
        height: 50px;
        background-image: linear-gradient(to right top, #097ebb, #0983c2, #0988ca, #098dd1, #0992d9);
        border: none;
        font-family: Poppins;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
}

/* LOG PAGES (INSCRIPTION.PHP / CONNEXION.PHP / CHANGEMENT_MDP.PHP) */

.log_body {
    height: 975px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    &__illustration {
        display: flex;
        background: #ff2c2c;
        width: 70%;
        height: auto;
        &__isometric {
            align-self: flex-end;
            justify-self: flex-end;
            margin-left: auto;
        }
        &__isometric2 {
            position: fixed;
            margin: 50px 40px 0px 60px;
        }
    }
}

.log_form {
    // margin: 75px 100px 0px 100px ;
    border: none;
    color: $txt_color;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & legend {
        font-size: 25px;
        padding: 20px 0px 0px 0px;
    }    
    & div {
        width: 400px;
        margin: 12px 0px 12px 25px;
    }
    & input {
        background: rgba(221, 221, 221, 0.575);
        color: $txt_color;
        font-family: poppins;
        margin-top: 10px;
        border-radius: 5px;
        padding: 10px 0px 10px 10px;
        width: 100%;
        height: auto;
        font-size: 14px;
        border: none;
        &:focus {
            outline: none;
        }
    }
    & input[type=submit] {
        background-image: linear-gradient(to right top, #097ebb, #0983c2, #0988ca, #098dd1, #0992d9);
        color: white;
        cursor: pointer;
    }
    & input[type=reset] {
        background: #FF2C2C;
        color: white;
    }
    &__btn_changemenu {
        font-size: 12px;
        align-self: center;
        color: grey;
        margin: 0;
        
        & a {
            text-decoration: none;
            color: #2C7DFF;
            &:visited {color: #2C7DFF;}
        } 
    }

    &__error {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & img {margin-right: 7px;}
    }
    &__error_reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        & img {
            margin-right: 10px;
        }
    }
}

// REDIRECTION.PHP

.body_redirection {
    background-image: url('../media/isometric_success.svg');
    background-position: 100% 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    color: $txt_color;
    width: auto;
    height: 875px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 100px;
}

// COMPTE.PHP

.body_compte {
    background: url('../media/security.svg');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 40%;
    background-size: 900px;
}
