body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid grey;
 }

#logo_gbaf {
    padding: 5px 0px 0px 10px;
}

.connexion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
}

.connexion * {
    padding: 3px;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 50px 100px;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 12px;
    color: rgb(44, 44, 44);
}

.txt_partenaires {
    background: blue;
    padding-top: 50px;
}



.acteur {
    border: 2px solid black;
    margin: 50px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.informations {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
}

#logo {
    width: 200px;
    height: 80px;
    margin-left: 50px;
}
.nomDesc {
    width: 70%;
    margin: 20px 20px 20px 60px;
}

#lirelasuite {
    align-self: flex-end;
    margin-bottom: 25px;
    margin-right: 30px;
}

footer {
    width: 100%;
    height : 100px;
    background: rgb(44, 44, 44);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0px 10px 0px 10px;
    color: rgb(223, 223, 223);
}

footer a {
    text-decoration: none;
}

@media screen and (min-width: 725px) and (max-width: 1366px) {
    .nomDesc {
        width: auto;
    }
}

@media screen and (min-width: 250px) and (max-width: 725px) {
    
    .nomDesc {
        width: auto;
        margin: 30px;
    }

    .informations {
        flex-direction: column;
    }

    #logo {
        margin-top: 20px;
        margin-left: 0px;
    }
}