@font-face {
    font-family: Poppins;
    src: url('../media/fonts/Poppins-Light.ttf');
}

body {
    margin: 0;
    font-family: Poppins;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
 }

#logo_gbaf {
    width: 50px;
    height: auto;
    margin: 17px 0px 0px 50px;
    align-self: center;
    justify-self: center;
}

.connexion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
}

.connexion * {
    padding: 3px;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 50px 100px;
    text-align: center;
    font-size: 12px;
    color: rgb(44, 44, 44);
}

.txt_presentation {   
    font-size: large;
    align-self: center;
}

.txt_presentation p {
    margin: 50px 0px 50px 0px;
    width: 1500px;
    font-size: 16px;
}



#arrow {
    width: 35px;
    background: red;
    border-radius: 50px;

}


.txt_partenaires {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -7px 7px 25px 0px rgba(128, 128, 128, 0.418);
    height: auto;
    margin: 50px;
    padding: 0px;
}

.informations img {
    
    
}

#logo {
    align-self: center;
    justify-self: center;
    width: 200px;
    height: auto;
}

.nomDescLogo {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nomDesc {
    width: 70%;
    margin: 20px 20px 20px 60px;
}



#lirelasuite {
    align-self: flex-end;
    margin-bottom: 25px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    background: red;
    border-radius: 20px;
}

#lirelasuite:visited {
    color: white;
}

footer {
    width: 100%;
    height : 100px;
    background: rgba(44, 44, 44, 0.795);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0px 10px 0px 10px;
    color: rgb(223, 223, 223);
}

footer a {
    text-decoration: none;
}

@media screen and (min-width: 725px) and (max-width: 1366px) {
    .nomDescLogo {
        width: auto;
    }

    #logo {
        margin-left: 20px;
    }
}

@media screen and (min-width: 250px) and (max-width: 725px) {
    
    .nomDesc {
        width: auto;
        margin: 30px;
    }

    .nomDescLogo {
        flex-direction: column;
    }

    #logo {
        margin-top: 20px;
        margin-left: 0px;
    }
}

/* PAGE ACTEUR */

.presentation_page_acteur {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.logo_page_acteur {
    align-self: center;
    margin-bottom: 50px;
}