@font-face {
  font-family: Poppins;
  src: url("../media/fonts/Poppins-Light.ttf");
}

body {
  margin: 0;
  font-family: Poppins;
}

.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

.header__logo_gbaf {
  margin: 17px 0px 0px 50px;
}

.header__compte {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
}

.header__compte * {
  padding: 3px;
}

.header__compte__btn_logout {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-image: url("../media/logout.png");
  background-position: center;
  background-size: contain;
}

footer {
  width: 100%;
  height: 100px;
  background: #2c2c2c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0px 10px 0px 10px;
  color: #dfdfdf;
}

footer a {
  text-decoration: none;
}

.index_presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 4% 2% 4%;
  text-align: center;
  font-size: 12px;
  color: #2c2c2c;
}

.index_presentation__txt {
  font-size: large;
  align-self: center;
}

.index_presentation__txt p {
  margin: 50px 0px 50px 0px;
  width: auto;
  font-size: 16px;
}

.index_acteurs__txt {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.index_acteurs__txt__btn {
  width: 35px;
  background: red;
  border-radius: 50px;
}

.index_acteurs__liste {
  padding: 0px;
}

.index_acteurs__liste__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -7px 7px 25px 0px rgba(128, 128, 128, 0.418);
  height: auto;
  margin: 50px;
}

.index_acteurs__liste__elem__informations {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.index_acteurs__liste__elem__informations img {
  margin-right: 60px;
  align-self: center;
  justify-self: center;
  width: 200px;
  height: auto;
}

.index_acteurs__liste__elem__btn_suite {
  align-self: flex-end;
  margin-bottom: 25px;
  margin-right: 30px;
  text-decoration: none;
  color: white;
  padding: 10px 20px 10px 20px;
  background: red;
  border-radius: 20px;
}

.acteur_presentation {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.acteur_presentation__logo {
  align-self: center;
  margin-bottom: 50px;
}

.acteur_commentaires {
  padding: 0px 100px 100px 100px;
}

/* LOG PAGES (INSCRIPTION.PHP / CONNEXION.PHP / CHANGEMENT_MDP.PHP) */
.log_body {
  height: 975px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
}

.log_body__illustration {
  display: flex;
  background: #ff2c2c;
  width: 70%;
  height: auto;
}

.log_body__illustration__isometric {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: auto;
}

.log_body__illustration__isometric2 {
  position: fixed;
  margin: 50px 40px 0px 60px;
}

.log_form {
  margin: 75px 100px 0px 100px;
  border: none;
  color: #2c2c2c;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.log_form legend {
  font-size: 25px;
  margin-left: 20px;
}

.log_form__btn_dejamembre {
  font-size: 12px;
  align-self: flex-start;
  margin: 5px 0px 15px 24px;
  color: grey;
}

.log_form__btn_dejamembre a {
  text-decoration: none;
  color: #2C7DFF;
}

.log_form__btn_dejamembre a:visited {
  color: #2C7DFF;
}

.log_form__btn_pasdecompte {
  font-size: 12px;
  align-self: flex-start;
  margin: 5px 0px 15px 24px;
  color: grey;
}

.log_form__btn_pasdecompte a {
  text-decoration: none;
  color: #2C7DFF;
}

.log_form__btn_pasdecompte a:visited {
  color: #2C7DFF;
}

.log_form__btn_mdpoublie a {
  font-size: 12px;
  align-self: flex-start;
  margin: 5px 0px 15px 24px;
  color: #2C7DFF;
  text-decoration: none;
}

.log_form__btn_mdpoublie a:visited {
  color: #2C7DFF;
}

.log_form__btn_reveniralaconnexion a {
  font-size: 12px;
  align-self: flex-start;
  margin: 5px 0px 15px 24px;
  color: #2C7DFF;
  text-decoration: none;
}

.log_form__btn_reveniralaconnexion a:visited {
  color: #2C7DFF;
}

.log_form div {
  width: 400px;
  margin: 12px 25px 12px 25px;
}

.log_form input {
  background: rgba(221, 221, 221, 0.575);
  color: #2c2c2c;
  font-family: poppins;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: auto;
  font-size: 14px;
  border: none;
}

.log_form input:focus {
  outline: none;
}

.log_form select {
  font-family: poppins;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.219);
}

.log_form__error_iddejautilise {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.log_form__error_iddejautilise img {
  margin-right: 7px;
}

.log_form__error_mauvaisid {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.log_form__error_mauvaisid img {
  margin-right: 10px;
}

.body_redirection {
  background-image: url("../media/isometric_success.svg");
  background-position: 100% 100%;
  background-size: 40%;
  background-repeat: no-repeat;
  color: #2c2c2c;
  width: auto;
  height: 875px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-top: 100px;
}
